.news {
    &__date {
        padding: 0 8px;
        font-size: 12px;
        font-weight: bold;
    }

    &__title {
        display: inline-block;
        padding: 0 8px;
        font-size: 12px;
        text-decoration: underline;
        color: #000;

        &:hover {
            text-decoration: none;
        }
    }

    &__text {
        padding: 10px 8px 0;
        font-size: 12px;
    }
}